<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <!-- Document Meta
  ============================================= -->
    <%-include("./pages/headerfiles.ejs")%>

    <!-- JavaScripts
  ============================================= -->
    <%-include("./pages/scriptfiles.ejs")%>

    <!-- Document Title
  ============================================= -->
    <title>ToyTown</title>
  </head>

  <body id="contact">
    <main>
      <div id="menu_wrapper" class=""></div>
      <!-- --------------------loader------------ -->
      <div id="spin-wrapper"></div>
      <div id="siteloader">
        <div class="loader"></div>
      </div>
      <!-- --------------------header------------ -->
      <% if (loggedIn) { %> <%- include('./pages/userNavbar.ejs') %> <% } else {
      %> <%- include('./pages/header.ejs') %> <% } %>
      <!-- -------------------mobile media---------- -->
      <div
        id="mobile_top_menu_wrapper"
        class="hidden-lg-up"
        style="display: none"
      >
        <div id="top_menu_closer">
          <i class="material-icons"></i>
        </div>
        <div class="js-top-menu mobile" id="_mobile_top_menu"></div>
      </div>
      <!-- --------------------Breadcrumb------------ -->
      <div class="breadcrumb-container">
        <nav data-depth="2" class="breadcrumb container">
          <h1 class="h1 category-title breadcrumb-title">Contact</h1>
          <ul>
            <li>
              <a href="#">
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Contact</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- ----------------contactpage----------- -->
      <section id="wrapper">
        <div id="content-wrapper" class="top-wrapper">
          <div class="container">
            <div class="row">
              <section id="main">
                <div class="contact-form-information">
                  <div class="row">
                    <div class="contact-banner col-lg-6 col-md-12">
                      <div class="image-container">
                        <a href="javascript:void(0);">
                          <img
                            src="assets/images/contact-image.png"
                            alt="contact-image"
                          />
                        </a>
                      </div>
                    </div>
                    <div class="information-container col-lg-6 col-md-12">
                      <div class="title-container">
                        <h3 class="heading">get in touch</h3>
                        <span class="subheading"
                          >We&#39;d Love to Hear From You, Lets Get In
                          Touch!</span
                        >
                      </div>
                      <div
                        class="list-contact-info col-md-12 col-sm-12 col-xs-12"
                      >
                        <div
                          class="contact_info_item col-md-6 col-sm-6 col-xs-6"
                        >
                          <h3>address</h3>
                          <p>01 Hall Bazaar, Amritsar</p>
                          <p>Punjab</p>
                        </div>
                        <div
                          class="contact_info_item col-md-6 col-sm-6 col-xs-6"
                        >
                          <h3>Phone</h3>
                          <p>+91-9041097267</p>
                        </div>
                        <div
                          class="contact_info_item col-md-6 col-sm-6 col-xs-6"
                        >
                          <h3>Email</h3>
                          <p>
                            <a href="#"> toytown@gmail.com </a>
                          </p>
                        </div>
                        <div
                          class="contact_info_item col-md-6 col-sm-6 col-xs-6"
                        >
                          <h3>additional Information</h3>
                          <p>
                            We are open: Monday - Saturday, 10AM - 5PM and
                            closed on sunday sorry for that.
                          </p>
                        </div>
                        <div
                          class="contact_info_item block-social col-md-12 col-sm-12 col-xs-12"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="contact-map clearfix">
            <div id="contact-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3397.0821945275507!2d74.87126452541067!3d31.631599824163192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391964aa64d8c141%3A0x3a477def7a8541e5!2sHall%20Gate%2C%20Amritsar%2C%20Punjab!5e0!3m2!1sen!2sin!4v1731603044734!5m2!1sen!2sin"
                width="100%"
                height="400"
                frameborder="0"
                style="border: 0"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
              ></iframe>
            </div>
          </div>
        </div>
      </section>

      <!-- -----------------footer-------------------- -->
      <%-include("./pages/footer.ejs")%>
    </main>
  </body>
</html>
